* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    /*background: cornflowerblue;*/
    padding-left: 7px;
}

.registro{
    width: 1335px; height: 750px;
    border-top: 5px solid rgb(59, 55, 55);
}


/*PARTE 1 TITULO DE LA PAGUINA*/
#cabecera{
    background: #ffffff;
    /*border: 1px solid #999999;*/
    padding: 10px;
    width: 1315px; height: 60px;
    border-bottom: 2px solid rgb(161, 45, 161);
    
}


#logo{
    border: 1px solid black;
    width: 400px; height: 60px;
    float: left;
    
}
.logo{
    width: 400px; height: 60px;
}

#buscador{
    /*border: 1px solid black;*/
    width: 898px; height: 60px;
    padding-right: 0px;
    float: right;
}

.busqueda{
    /*position: absolute;*/
    /*border: 1px solid black;*/
    padding-top: 15px;
    width: 600px; height: 45px;
    float: left;
    /*transform: translate();*/
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    
}
input[type="text"]{
    background: #fff;
    width: 480px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 25px 0 0 25px;
    
}
input[type="text"]:hover{
    border: 3px solid rgb(71, 67, 67);
    transition: all .3s;
}

input[type="submit"]{
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: rgb(173, 81, 173);
    color: white;
}
input[type="submit"]:hover{
    color: rgb(153, 72, 153);
    background: white;
    border: 3px solid rgb(153, 72, 153);
    transition: all .3s;
}

.botonmenu{
    /*border: 1px solid red;**/
    width: 293px; height: 60px;
    float: right;
}

.botones{
    list-style: none;
}
.botones > li{
    position: relative;
    display: inline-block;

}
.botones > li > a{
    display: block;
    padding: 5px 5px;
}
.botones li a button{
    border-style: none;
}
.botones li a button:hover{
    border-bottom: 3px solid rgb(153, 72, 153);
    
}
.icon1{
    height: 40px;
    width: 50px;
    box-shadow: 0px 0px 5px 0px violet;
}
.icon1:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.5s;
}

/*PARTE 2 NAVEGACION*/
#menu{
    width: 1335px; height: 60px;
    background: white;
}
.navegacion{
    width: 1335px;
    margin: 0px  auto;
    background:rgb(255, 255, 255);
}
.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 21px 10px;
    color: rgb(71, 66, 71);
    font-family: sans-serif;
    text-decoration: none;
}
.menu li a:hover{
    color: rgb(170, 22, 170);
    transition: all .3s;
}
/*sub menu*/
.submenu{
    position: absolute;
    background: white;
    width: 120%;
    visibility: hidden;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: rgb(71, 66, 71);
    font-family: sans-serif;
    text-decoration: none;
}
.submenu li a:hover{
    color: rgb(170, 22, 170);
}
.menu li:hover .submenu{
    visibility: visible;
    transition: all 1.5;
}

/*RADIO*/

.radio {
    font-size: 15px;
    padding: 12px;
    /*margin: 8px;*/
}

.form-registro paises {
    padding: 2px;
    margin: auto;
    border-radius: 4px;
}

.form-registro {
    width: 400px; 
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.control {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-registro a {
    color: white;
    text-decoration: none;
}

.form-registro a:hover {
    color: white;
    text-decoration: underline;
}

.form-registro .botones {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    text-align: center;
}

/*PIE*/
#pie{
    background: rgb(11, 5, 46);
    width: 1335px; height: 300px;
}

.acercade{
    width: 1333px; height: 400px;
    border-top: 5px solid rgb(59, 55, 55);
    border-bottom: 5px solid rgb(59, 55, 55);
    margin: 0;
    padding: 0;
    /*color: black;*/
    position: absolute;
}

.general{
    list-style: none;
    padding-left: 0px;
    padding: 20px;
    /*border: 1px solid red;*/
}
.general > li{
    position: relative;
    display: inline-block;
    padding: 1px;

}
.general1{
    list-style: none;
}
.general1 > li{
    position: relative;
    display: block;
    padding: 10px;
}
.general1 > li >a{
    color: rgb(255, 249, 249);
    text-decoration: none;
    font-family: sans-serif;
}
.titulo{
    font-size: 25px;
}
.subti{
    font-size: 12px;
}
.fin{
    width: 1335px; height: 70px;
    border-top: 5px solid rgb(59, 55, 55);
    background: white;
    position: absolute;
    margin: 0;
    padding: 0;
}

.descarge{
    width: 935px; height: 70px;
    /*border: 1px solid red;*/
    float: left;
    position: absolute;
    padding: 0;
    margin: 0;
}

.img-d{
    width: 400px; height: 70px;
    /*border: 1px solid red;*/
    float: left;
    padding-top: 5px;
}

.t4{
    padding-top: 25px;
    font-family: sans-serif;
    color: rgb(170, 22, 170);
    font-size: 30px;  
}

.desimg{
    width: 300px; height: 50px;
    border: 1px solid black;
    
}

.iconpie{
    width: 400px; height: 70px;
    /*border: 1px solid red;*/
    background: white;
    float: right;

}


.botoness{
    list-style: none;

}
.botoness > li{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding: 10px;

}
.botoness > li > a{
    display: block;
    padding: 5px 5px;
}
.botoness li a button{
    border-style: none;
}
.botoness li a button:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s;    
}
.icon11{
    height: 40px;
    width: 50px;
    
}